#index {
	overflow: auto;
}
#index table {
	border: 1px solid #000;
}
#index table th ,
#index table td {
	border: 1px solid #000;
}
#index table th {
	padding: 3px;
	font-size: .8rem;
}
#index table th b:before {
	content: "(";
}
#index table th b:after {
	content: ")";
}
#index table td {
	text-align: left;
	height: 20rem;
}
#index h1 {
	font-size: 1rem;
}
a.addBacklog {
	vertical-align: bottom;
	display: block;
	background: #ccc;
	text-align: center;
}
