/**********************************************************
	Html Tags :
		yes. this part use html5resetter. html is defaulted.
		but some point has different taste.
***********************************************************/
table {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  position: relative; }

ol, ul {
  list-style-position: inside; }

/* @override */
.row {
  max-width: 100%; }

/* layout */
main {
  margin-bottom: 1rem; }

main h1 {
  font-size: 1rem; }

main h2 {
  font-size: 1.2rem; }

footer {
  background: #000;
  text-align: right;
  color: #fff;
  z-index: 1000; }

footer .copyrights {
	font-size: .8rem;
}
section.view {
  border: 1rem solid #999;
  border-radius: 1rem;
  padding: 1rem; }
  section.view dl {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%; }
    section.view dl:before, section.view dl:after {
      content: " ";
      display: table; }
    section.view dl:after {
      clear: both; }
    section.view dl dt, section.view dl dd {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      width: 16.66667%;
      float: left;
      background: #eee; }
    section.view dl dt {
      background: #cff; }

/********************** table.index **********************/
table.index {
  width: 100%;
  margin-top: 20px;
  border: 0;
  border-bottom: 1px solid #b4b4b4; }
  table.index th {
    padding: 0;
    text-align: center; }
  table.index th.ck {
    width: 31px; }
  table.index th.num {
    width: 46px; }
  table.index th.code {
    width: 109px; }
  table.index td {
    border-top: 1px solid #e0e0e0;
    text-align: center; }
  table.index td.title {
    text-align: left; }
  table.index td.buttons {
    list-style: none;
    margin: 0;
    left: 0; }
    table.index td.buttons:before, table.index td.buttons:after {
      content: " ";
      display: table; }
    table.index td.buttons:after {
      clear: both; }
    table.index td.buttons a {
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;
      border-style: solid;
      border-width: 0;
      cursor: pointer;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-weight: normal;
      line-height: normal;
      margin: 0 0 1.25rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding: 1rem 2rem 1.0625rem 2rem;
      font-size: 1rem;
      background-color: #008CBA;
      border-color: #007095;
      color: #FFFFFF;
      transition: background-color 300ms ease-out;
      padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
      font-size: 0.6875rem;
      margin: 0; }
      table.index td.buttons a:hover, table.index td.buttons a:focus {
        background-color: #007095; }
      table.index td.buttons a:hover, table.index td.buttons a:focus {
        color: #FFFFFF; }

/************************** table.admin ********************/
table.admin {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #3c9d2a;
  border-bottom: 1px solid #b4b4b4; }
  table.admin tr.first td,
  table.admin tr.first th {
    border-top: 1px solid #d3e8cc; }
  table.admin tr th {
    height: 30px;
    width: 80px;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
    color: #3a8e23;
    background-color: #f1f1f1; }
  table.admin tr th,
  table.admin tr td {
    border-bottom: 1px solid #dddddd; }
  table.admin tr td {
    padding: 0;
    padding-left: 20px;
    text-align: left; }

/************************** table.view ********************/
table.view {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #3c9d2a;
  border-bottom: 1px solid #b4b4b4; }
  table.view tr.first td,
  table.view tr.first th {
    border-top: 1px solid #d3e8cc; }
  table.view tr th {
    height: 30px;
    width: 150px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
    color: #3a8e23;
    background-color: #f1f1f1; }
  table.view tr th,
  table.view tr td {
    border-bottom: 1px solid #dddddd; }
  table.view tr td {
    padding: 0;
    padding-left: 20px;
    text-align: left; }

/************************** table.images ********************/
table.images tr {
  padding: 5px 0; }
table.images td {
  text-align: left;
  width: 180px;
  padding: 10px 0; }
table.images td span.bb {
  margin-left: 12px; }
table.images a {
  margin-top: 24px; }
table.images a img {
  border-width: 1px;
  border-color: #dedede;
  padding: 3px;
  width: 144px;
  height: 100px; }
table.images a img:hover {
  border-color: #ff6600; }
table.images td dl.info {
  margin-top: 24px;
  width: 180px; }
table.images td dl.info dt {
  float: left;
  width: 90px; }
table.images td dl.info dd {
  float: left;
  width: 90px; }
table.images tbody tr:hover {
  background: #ffffff; }

/************************** nav.component ********************/
nav.component {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
  text-align: right; }
  nav.component:before, nav.component:after {
    content: " ";
    display: table; }
  nav.component:after {
    clear: both; }
  nav.component a {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
    font-size: 0.6875rem;
    border-radius: 1000px; }
    nav.component a:hover, nav.component a:focus {
      background-color: #007095; }
    nav.component a:hover, nav.component a:focus {
      color: #FFFFFF; }
  nav.component a.current {
    background: #cfccfc; }

pre.printR {
  font-size: 0.75rem; }

/************************** form.write ********************/
form.write {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }
  form.write:before, form.write:after {
    content: " ";
    display: table; }
  form.write:after {
    clear: both; }
  form.write .simple label {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
    background: #f2f2f2;
    border-right: none;
    color: #333333;
    border-color: #cccccc;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.33333%;
    float: left; }
  form.write .simple input {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 66.66667%;
    float: right;
    margin-bottom: 0; }

/************************** #right todo: from admin/style.css ********************/
#index {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 75%;
  float: left; }

#right {
  background: #ffffff;
  z-index: 1;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 25%;
  float: right; }
  #right dl > dt {
    margin: 0;
    padding: 2px 10px;
    font-size: 12px;
    background: #eeeeee;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    cursor: pointer; }
  #right dl:first-child > dt {
    border-top: 0; }
  #right dl > dd.rightMenu h1 {
    display: none; }
  #right dl > dd.rightMenu ul {
    list-style: none; }
    #right dl > dd.rightMenu ul li a {
      display: block;
      font-size: 12px;
      color: #000000;
      padding: 2px 5px;
      border-bottom: 1px solid #000000; }
    #right dl > dd.rightMenu ul li a:hover {
      text-decoration: none;
      background: #ccccff; }
  #right dl > dd.rightMenu table.list th, #right dl > dd.rightMenu table.list td {
    font-size: 12px;
    border-bottom: 1px solid #000000;
    vertical-align: middle; }
  #right dl > dd.rightMenu table.list th {
    padding: 3px;
    border-top: 1px solid #000000;
    background: #cccccc; }
  #right dl > dd.rightMenu table.list td a {
    color: #000000;
    font-size: 12px; }
  #right dl > dd.rightMenu table.list td img {
    height: 50px; }
  #right form.simple dl.targetItem dt {
    background: transparent;
    padding: 5px; }
  #right form.simple dl.targetItem dd {
    border: 0;
    border-top: 1px solid #cccccc; }

/***************************** section.summary *****************************/
section.summary {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
  float: left;
  width: 100%; }
  section.summary dl {
    float: left;
    border: 1px solid #000000;
    border-left: 0;
    display: inline-block;
    font-size: 12px; }
  section.summary dl.header {
    border-left: 1px solid #000000; }
  section.summary dl dt {
    background: #cccccc; }
  section.summary dl dt,
  section.summary dl dd {
    padding: 3px 20px;
    border-bottom: 1px solid #000000; }
  section.summary dl dd {
    text-align: right; }

p.noContent {
  padding: 10px;
  border: 1px solid #000;
  text-align: center; }





/**********************************************************
	Common Classes :
		for common user interface, use this part more.
***********************************************************/

/************************* nav.buttons *************************/
nav.buttons {
	margin-top: 8px;
	text-align: center;
}
/************************* nav.component *************************/
nav.component {
	margin: 10px;
}
nav.component>a {
	display: inline-block;
	padding: 4px 20px;
	border: 2px solid #777777;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	background: #ddddff;
}
nav.component>a:hover {
	text-decoration: none;
	background: #bbbbff;
}

/***************************** nav.order *****************************/
nav.order {
	display: inline;
	letter-spacing: -5px;
}
nav.order a {
	color: #333333;
	text-decoration: none;
}
nav.order a.current {
	color: #ff3300;
}
nav.rows {
position: absolute;
top: 5px;
right: 15px;
z-index: 10;
}
nav.rows a ,
nav.rows b {
	display: inline-block;
	border: 1px solid #999999;
	padding: 1px 2px;
	font-size: 13px;
	color: #000000;
	background: #ffffff;
}
nav.rows a:hover {
	text-decoration: none;
	background: #ccccff;
}
nav.rows b {
	background: #fddfdd;
}


/***************************** form.search **************************/
form.search {
	position: relative;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #333333;
	font-size: 10pt;
	background: #ffffff;
}
form.search h2 {
	position: absolute;
	top: -5px;
	right: -5px;
	background: #eeeeee;
	border: 2px solid #333333;
	padding: 2px 10px;
	border-radius: 5px;
}
form.search ul {
	list-style: none;
}
form.search ul.options {
	position: absolute;
	right: 10px;
	top: 27px;
	min-width: 400px;
	z-index: 1000;
	background: #ffffff;
	border: 2px solid #999999;
	padding: 10px;
	display: none;
}
form.search ul li {
	position: relative;
	padding: 2px 0;
	border-bottom: 1px solid #666666;
}
form.search ul li:last-child {
	border: 0;
}
form.search fieldset {
	border: 1px solid #666666;
	padding: 2px 10px;
}
form.search ul li>label {
	display: inline-block;
	text-align: right;
	width: 150px;
	padding-right: 20px;
}
form.search ul li fieldset legend {
	padding: 0 20px;
	margin: 8px 10px 0 10px;
	border: 1px solid #666666;
	background: #ccccff;
}

/***************************** form.list **************************/
section.list ,
form.list {
	margin-top: 10px;
	display: block;
	position: relative;
}
form.list {
	>nav.buttons ,
	>nav.buttons {
		margin-top: 10px;
	}
	td nav.buttons {
	}
	td nav.buttons a {
		color: #000000;
		font-size: 12px;
		border: 1px solid #000000;
		padding: 2px 9px;
		border-radius: 8px;
		background: #eeeeff;
	}
	form.list td nav.buttons a:hover {
		text-decoration: none;
		background: #ccccff;
	}
}
nav.list a {
	display: block;
}

/*************************** nav.listHeader **************************/
nav.listHeader {
position: relative;
text-align: left;
padding: 5px 10px;
border: 1px solid #000000;
border-radius: 15px;
background: #eeeeff;
margin-bottom: 5px;
}
nav.listHeader span.title {
	position: absolute;
	width: 60%;
	left: 50%;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	margin-left: -30%;
}
/**************************** p.adminConfig **********************/
p.adminConfig {
margin-top: 10px;
text-align: right;
}
/************************* nav.page *********************/
nav.page {
	margin-top: 10px;
	text-align: center;
	.page a ,
	.page b {
		display: inline-block;
		padding: 3px;
		font-size: 12px;
		text-decoration: none;
		vertical-align: middle;
	}
	.page a:hover {
		background-color: #ccccff;
	}
	.page b {
		background-color: #ffcccc;
	}
	.page .first,
	.page .prev,
	.page .next,
	.page .last {
		width: 28px;
		height: 16px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-align: left;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: transparent;
	}
	.page .prev, .page .next{ width: 21px; }
	.page .first { background-image: url("images/pageNavi/first.gif"); }
	.page .prev { background-image: url("images/pageNavi/prev.gif"); }
	.page .next { background-image: url("images/pageNavi/next.gif"); }
	.page .last { background-image: url("images/pageNavi/last.gif"); }
}
/************************ .treeContainer ******************/
.treeContainer {
font-size: 13px;
}
.treeContainer dl dt {
position: relative;
margin-top: 1px;
padding: 2px;
border: 1px solid #cccccc;
}
.treeContainer dl dt nav.position {
display: inline;
position: absolute;
right: 10px;
top: 10px;
}
.treeContainer dl dl {
margin-left: 20px;
}
.treeContainer .tree dl dt a.toggle {
display: inline-block;
width: 14px;
height: 14px;
border: 1px solid #000000;
border-radius: 3px;
text-align: center;
text-decoration: none;
}
.treeContainer .tree nav.buttons {
	display: inline;
}
.treeContainer .tree a.createSub ,
.treeContainer .tree a.delete {
display: inline-block;
border: 2px solid #777777;
border-radius: 10px;
color: #000000;
font-size: 12px;
font-weight: 600;
padding: 2px 10px;
background: none repeat scroll 0 0 #DDDDFF;
}
.treeContainer .tree a.delete {
background: #ffcccc;
}
.treeContainer .tree a:hover.delete {
background: #ffaaaa;
}
form.changed {
background: #ffeeee;
}
/************************* section.date *************************/
.date {
	position: absolute;
	right: 30px;
	width: 300px;
	border: 2px solid #000;
	background: #fff;
	z-index: 1000;
	dl {
		position: relative;
		border-bottom: 1px solid #000;
		* {
			display: inline-block;
			font-size: 12px;
			padding: 3px 10px 3px 0px;
		}
		dt {
			position: absolute;
			top: 0;
			left: 0;
			width: 40%;
			background: #eee;
			text-align: right;
		}
		dd {
			padding-left: 50%;
		}
	}

	th, td {
		border: 1px solid #000000;
		font-size: 12px;
		padding: 3px 10px;
	}
	th {
		width: 50%;
		background: #eeeeee;
		text-align: right;
	}
	td {
	}
}
/************************** nav.locale ***********************/
nav.locale {
	a {
		display: inline-block;
		padding: 2px 5px;
		margin: 2px 5px;
		border: 1px solid #666666;
		background: #ddddff;
		font-size: 13px;
		border-radius: 10px;
		color: #000000;
	}
	a:hover {
		background: #99f99f;
		text-decoration: none;
	}
	a.current {
		background: #cccc00;
	}
}
/*********************** nav.pageManual **********************/
nav.pageManual {
position: absolute;
top: 20px;
right: 20px;
}
nav.pageManual a {
display: inline-block;
padding: 3px 7px;
border: 2px solid #000000;
background: #ffffff;
color: #000000;
z-index: 1000;
}
nav.pageManual a:hover {
text-decoration: none;
background: #ccccff;
}

/******************************* simpleSearch *******************************/ 
form.simpleSearch {
text-align: right;
font-size: 12px;
margin: 5px;
padding: 5px;
}
h2 a.more {
	position: absolute;
	right: 10px;
	display: inline-block;
	padding: 2px 5px;
	font-size: 12px;
	color: #000000;
	background: #eeeeee;
	border: 1px solid #000000;
	border-radius: 10px;
}
form.simpleSearch nav.buttons {
	text-align: right;
}
form.simpleSearch nav.buttons button ,
form.simpleSearch nav.buttons a {
	display: inline-block;
	margin: 0;
	padding: 3px 10px;
	border: 1px solid #000;
	border-radius: 5px;
	background: #ccf;
}
form.simpleSearch nav.buttons button:hover ,
form.simpleSearch nav.buttons a:hover {
	background: #ddf;
}
form.simpleSearch fieldset {
	border: 1px solid #000;
	display: inline-block;
	padding: 10px;
}
/******************************* #popupWindow *****************************/
#popupWindow {
display: none;
position: absolute;
left: 50%;
top: 30px;
width: 800px;
min-height: 300px;
margin-left: -400px;
padding: 10px;
border: 10px solid #000;
border-radius: 20px;
background: #fff;
z-index: 1000;
}


/******************** personalNavi ****************/
#personalNavi {
position: absolute;
list-style: none;
top: 7px;
right: 10px;
}
#personalNavi li {
display: inline;
}
#personalNavi a {
display: inline-block;
}
#personalNavi {
position: absolute;
right: 0;
}

/**************** table.summary *******************/
table.summary {
border-collapse: collapse;
margin-bottom: 10px;
}
table.summary td {
border: 1px solid #000;
text-align: left;
height: 27px;
padding-left: 10px;
}
table.summary td.title {
text-align: center;
width: 15%;
background: #ccc;
padding-left: 0;
}
/******************* table.adminForm ******************/
table.adminForm {
	border-collapse: collapse;
	border-top: 5px solid #666;
	border-bottom: 5px solid #666;
}
table.adminForm td {
	border-bottom: 1px solid #666;
	height: 26px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
}
table.adminForm .title {
	width: 150px;
	text-align: right;
	background: #ccc;
}
/****************** table.admin *******************/
table.admin {
	border-collapse: collapse;
}
table.admin td,
table.admin th {
	border: 1px solid #000;
	height: 28px;
}
table.admin th {
	background: #aaa;
	height: 30px;
}
/********************* dl.simpleList **********************/
dl.simpleList {
	margin: 10px;
	padding: 10px;
	border: 3px solid #999;
}
dl.simpleList dt {
	padding: 5px 10px;
	border-top: 1px solid #000;
	background: #fee;
}
dl.simpleList dd {
	padding: 5px 10px;
	text-indent: 30px;
	background: #eee;
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
}
/************************ .madWindow ********************/
.madWindow {
position: absolute;
width: 800px;
margin-left: -400px;
top: 100px;
left: 50%;
border-radius: 7px;
border: 2px solid #000;
background: #fff;
z-index: 100;
}
.madWindow dt {
position: relative;
margin: 0;
padding: 2px;
font-size: 12px;
border-bottom: 3px double #000;
}
.madWindow dt .title {
	display: inline-block;
	margin-left: 6px;
}
.madWindow dt .buttons {
position: absolute;
right: 5px;
top: 3px;
}
.madWindow dt .buttons li {
display: inline;
}
.madWindow dt .buttons li a {
display: inline-block;
}
.madWindow .content {
padding: 30px;
min-height: 100px;
background: #eee;
}
.madWindow .status {
	font-size: 12px;
	height: 20px;
	border-top: 1px solid #000;
}



/********************************* main ********************************/
.introduce {
	float: left;
	margin-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background: #fff;
}
.introduce dt {
	width: 100%;
	font: 600 18px dotumche;
	color: #666666;
	text-indent: 30px;
	background: url('/images/m.gif') no-repeat left;
}
.introduce dd {
	width: 650px;
	font: 12px dotumche;
	text-indent: 10px;
	line-height: 160%;
}
.overview {
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	background: white url('/images/overview.gif');
}
.overview dt {
}
.overview dd {
	float: left;
	width: 300px;
	margin-top: 24px;
	padding-left: 24px;
	font-size: 12px;
	line-height: 20px;
	background: url('/images/m.gif') no-repeat left top;
}
.overview .image {
	float: right;
	width: 300px;
	margin-top: 20px;
	background: url('');
}
.clip {
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	background: url('/images/overview.gif');
}
.clip dl {
	display: inline;
	float: left;
	width: 140px;
	margin-left: 20px;
}
.clip dt {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.clip dt img {
	width: 100%;
	height: 100px;
}
.clip dd {
	float: left;
	width: 100%;
	height: 20px;
	font: 12px dutumche;
	line-height: 20px;
	text-align: center;
	margin-top: 20px;
	background: #eee;
}
.tblList {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.tblList table {
	width: 100%;
}
.tblList th {
	height: 30px;
	border-top: 2px solid #333;
	border-bottom: 1px solid #ccc;
	font: 10px verdana;
	background: #eeeeff;
}
.tblList td {
	height: 30px;
	border-bottom: 1px solid #eee;
	font: 12px dotumche;
	text-align: center;
}
.tblList .subject {
	width: 350px;
	text-align: left;
}
.pageNavi {
	height: 30px;
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
	border-bottom: 3px double #eee;
}
.pageNavi a {
	padding: 5px 3px;
}
.pageNavi a:hover {
	background: #ddf;
}
/************************ search ************************/
.search {
	display: inline;
	height: 30px;
	margin-top: 20px;
	border-bottom: 1px solid #eee;
}
#range {
	display: inline;
	width: 80px;
	float: left;
	margin-right: 5px;
	margin-left: 160px;
}
#searchText {
	background: #fcc;
	float: left;
	border: 1px solid #ccc;
	margin-right: 5px;
}
#btnSearch {
	float: left;
	width: 80px; height: 20px;
	text-align: center;
	line-height: 20px;
	background: #ccf;
}
/************************ diary ************************/
#calendar {
}
#calTitle {
	float: left;
	width: 190px;
	height: 20px;
	margin-top: 20px;
	text-align: center;
}
#btnPrevMonth {
	float: left;
	width: 13px; height: 13px;
	background: url(/images/btnPrev.gif) no-repeat;
}
#btnNextMonth {
	float: right;
	width: 13px; height: 13px;
	background: url(/images/btnNext.gif) no-repeat;

}
#calMonth table {
	width: 100%;
}
#calMonth td {
	width: 82px;
	height: 70px;
	vertical-align: top;
}
#calMonth th {
	width: 82px;
	height: 30px;
	font: bold 11px verdana;
	background: #eee;
}
#calMonth .day {
	padding-right: 10px;
	border: 1px solid #ddf;
	font: bold 12px verdana;
}
.sunday {
	color: red;
}
.saturday {
	color: #0876ee;
}
#monYear {
	display: inline;
	font: 12px verdana;
	margin-left: 10px;
}
#calMonth .dayTop {
	display: inline;
	float: right;
	margin-top: 5px;
	font: bold 10px verdana;
	text-align: right;
}
#calToday {
	display: inline;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
#calMonth {
	float: left;
	width: 100%;
}
/******************************** #todo ********************************/
#todo ol.item li > a.done ,
#todo ol.item li > a:hover {
	text-decoration: line-through;
	color: #ccc;
}
#todo ol.item li > a.done:hover {
	text-decoration: none;
}
#todo ol.item li nav.buttons {
	display: inline;
	margin-left: 1rem;
}
#todo ol.item li nav.buttons a {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
	font: 600 0.8rem verdana;
	border: 1px solid #ccf;
	border-radius: 0.6rem;
	background: #ddf;
}
#todo ol.item li nav.buttons a.delete {
	background: #fcc;
	color: #f00;
}

#todo #write h1 ,
#todo #write label {
	display: none;
}
#todo #write form {
	display: inline;
}
#todo #write form input {
	display: inline-block;
}
/*************************** #userstory ***************************/
#userstory ul.list {
	list-style: none;
}
#userstory ul.list dl {
position: relative;
border: 2px solid #000;
border-radius: 8px;
padding: 0.5rem;
padding-bottom: 0;
height: 15rem;
overflow: auto;
}
#userstory ul.list dl dt {
	display: inline-block;
}
#userstory ul.list dl dd {
	display: inline;
}
#userstory ul.list dl dd.info {
	display: block;
	font-size: .8rem;
	margin-top: 1rem;
}
#userstory ul.list dl dd.info b {
	color: #339;
}
#userstory ul.list dl dd.buttons {
	display: block;
	padding: .1rem .5rem;
	bottom: 2rem;
	right: 1rem;
}
#userstory ul.list dl dd.todos {
}
#userstory ul.list dl dd.todos h1:before {
	content: 'To Do ';
}
#userstory ul.list dl dd.todos ol.item li {
	position: relative;
}
#userstory ul.list dl dd.todos .buttons {
	position: absolute;
	top: 0;
	right: 1rem;
}
#userstory ul.list dl dd.todos * {
	font-size: 0.8rem;
}
#userstory ul.list dl dd.todos h1 {
	display: none;
}
#userstory ul.list dl dd.todos a.button {
	display: none;
}
/********************** #kanban **********************/
#kanban {
	overflow: auto;
}
#kanban table {
	border: 1px solid #000;
}
#kanban table th ,
#kanban table td {
	border: 1px solid #000;
}
#kanban table th {
	padding: 3px;
	font-size: .8rem;
}
#kanban table th b:before {
	content: "(";
}
#kanban table th b:after {
	content: ")";
}
#kanban table td {
	text-align: left;
	height: 20rem;
}
#kanban h1 {
	font-size: 1rem;
}
#kanban a.addBacklog {
	vertical-align: bottom;
	display: block;
	background: #ccc;
	text-align: center;
}
