#index ul.list {
	list-style: none;
}
#index ul.list dl {
position: relative;
border: 2px solid #000;
border-radius: 8px;
padding: 0.5rem;
padding-bottom: 0;
height: 15rem;
overflow: auto;
}
#index ul.list dl dt {
	display: inline-block;
}
#index ul.list dl dd {
	display: inline;
}
#index ul.list dl dd.info {
	display: block;
	font-size: .8rem;
	margin-top: 1rem;
}
#index ul.list dl dd.info b {
	color: #339;
}
#index ul.list dl dd.buttons {
	display: block;
	padding: .1rem .5rem;
	bottom: 2rem;
	right: 1rem;
}
#index ul.list dl dd.todos {
}
#index ul.list dl dd.todos h1:before {
	content: 'To Do ';
}
#index ul.list dl dd.todos ol.item li {
	position: relative;
}
#index ul.list dl dd.todos .buttons {
	position: absolute;
	top: 0;
	right: 1rem;
}
#index ul.list dl dd.todos * {
	font-size: 0.8rem;
}
